NODE_ENV=development
PORT=3001

AUTH_DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:15432/auth_example_db?schema=public"
MENU_DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:15433/menu_example_db?schema=public"
ORDER_DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:15434/order_example_db?schema=public"
KITCHEN_DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:15435/kitchen_example_db?schema=public"
LOYALTY_DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:15436/loyalty_example_db?schema=public"
PAYMENT_DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:15437/payment_example_db?schema=public"
NOTIFICATION_DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:15438/notification_example_db?schema=public"

REDIS_URL="redis://127.0.0.1:6380"

RABBITMQ_URL="amqp://guest:guest@127.0.0.1:5673"

STRIPE_SECRET_KEY="sk_test_example"
STRIPE_WEBHOOK_SECRET="whsec_example"

SMTP_HOST="127.0.0.1"
SMTP_PORT=1026